* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: auto;
    height: 60px;
    left: 0px; 
    top: 0px;
    background: black
}

.nav-item{
    padding: 2px;
}

/*Carousel*/
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
}

.carousel-item img{
    width: 1280px;
    height: 400px;
    margin: auto;
    display: block;
}
/*Carousel*/

/*Category*/
.img-category:hover{
    transform: scale(1.2);
}

.img-category{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.judul-category{
    font-size: 14px;
}

.row-container{
    background-color: grey;
    margin: auto;
    width: 1280px;
    height: 150px;
    display: inline-block;
}

.menu-category p{
    font-size: 13px;
    margin-top: 3px;
    margin-bottom: 5px;
}
 
.menu-category{  
    flex: 0 0;
    margin: 30px;
}
/*Category*/

/*List items*/
.list-item{ 
   padding-right: 30px;
   padding-bottom: 20px;
   width: auto;
   display: inline-block;
}

.card-img-top{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
}

.img-card{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*List items*/

/*Countdown*/
.countdown{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.countdown div{
    color: darkslategray;
    position: relative;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}
/*Countdown*/

/*Cart*/
.text-judul-order{
    color: #000;
    font-family: Lato;
    font-weight: 700;
    line-height: 16.8px; 
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#cart-container table thead{
    font-weight: 700;
}

#cart-container table thead td{
    background: grey;
    color: #ffff;
    border: none;
    padding: 6px 0;
}

#cart-container table td{
    border: 1px solid gray;
    text-align: center;
}

#cart-container table td:nth-child(1){
    width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
    width: 170px;
}

#cart-container table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
 
#cart-container table tbody i{
    color: #8d8c89;
}

.form-check{
    border-radius: 9px;
    border: 1px solid #000;
}


#cart-bottom .delivery h5{
    background: grey;
    color: #ffff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .total h5{
    background: grey;
    color: #ffff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .total h6{
    color: #2a2a2a;
}

.second-hr{
    background: #2a2a2a;
    width: 100%;
    height: 1px;
}

.form-check .text-end{
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
}

.form-check p{
    font-size: 12px;
    line-height: 16.8px;
}

/*Bukti Pembayaran*/
#foto-container{
    width: 300px; 
    height: 300px;
    border-left: 0.50px black dotted; 
    border-top: 0.50px black dotted; 
    border-right: 0.50px black dotted; 
    border-bottom: 0.50px black dotted; 
    gap: 27.90px; 
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-foto{
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}